{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/banquet.css' %}">
</head>
<body>
 <div class="top_container">
        <div class="left">Заказы банкетов ГритБанкет</div>
        <div class="right"><a href="http://127.0.0.1:8000/banquet/main">На главную</a></div>
 </div>
  <div class="mid_container">

<form method="POST">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="Пополнить" class="button">
</form>
  </div>
</body>
</html>